// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  height: 50px;
  width: 50px;
  background-color: lightblue;
  border-style: solid;
  border-width: 2px;
  color: black;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  padding: 1px;
  position: relative;
  left: 1px;
  top: -6px;
}
